<?xml version="1.0" encoding="utf-8"?>

<plist>
  <dict version="1.0">
    <key>items</key>
    <array>
      <dict>
        <key>assets</key>
        <array>
          <dict>
            <key>kind</key>
            <string>software-package</string>
            <key>url</key>
            <string>https://vkceyugu.cdn.bspapp.com/VKCEYUGU-d32213ab-32ed-4fc6-8755-b5c557b497c3/0788f254-7d15-4194-8bb6-072efd31e2f9.ipa</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>display-image</string>
            <key>needs-shine</key>
            <true/>
            <key>url</key>
            <string>https://cdn.jsdelivr.net/gh/bkrx1688/app@2.8/logo.png</string>
          </dict>
          <dict>
            <key>kind</key>
            <string>full-size-image</string>
            <key>needs-shine</key>
            <true/>
            <key>url</key>
            <string>https://cdn.jsdelivr.net/gh/bkrx1688/app@2.8/logo.png</string>
          </dict>
        </array>
        <key>metadata</key>
        <dict>
          <key>bundle-identifier</key>
          <string>app.khz.world.com</string>
          <key>bundle-version</key>
          <string>1.0.8</string>
          <key>kind</key>
          <string>software</string>
          <key>subtitle</key>
          <string>凯博瑞信</string>
          <key>title</key>
          <string>凯博瑞信</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
